.page.theme_dark {
  --accent-color: #ff0070;
  --accent-color-40: #ff007040;
  --accent-title-color: #ff0070;
  --title-shadow-color: #ff0070;
  --bg-color: #000028;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --bg-img: url(../images/cover-image-dark.png);
  --decorated-visible: block;
}
