.page.theme_light {
  --accent-color: #ff8dcb;
  --accent-title-color: #353430;
  --accent-color-40: #35343040;
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --text-color: #353430;
  --bg-img: url(../images/cover-image-light.png);
  --decorated-visible: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --accent-color: #ff8dcb;
    --accent-title-color: #353430;
    --accent-color-40: #35343040;
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --text-color: #353430;
    --bg-img: url(../images/cover-image-light.png);
    --decorated-visible: none;
  }
}
